<div class="container mt-5">
  <h2>AVAILABLE TRANSACTIONS</h2>
  <div class="row">
    <% @available_transactions.each do |available_transaction| %>
      <div class="col-md-4 mb-4">
        <%= form_with url: generate_tickets_path, style: 'text-decoration: none;' do |form| %>
          <%= form.hidden_field :available_transaction_id, value: available_transaction.id %>
          <div class="card">
            <div class="card-body">
              <% if available_transaction.name == 'others' %>
                <%= form.label available_transaction.name, class: 'form-label' %>
                <%= form.text_field available_transaction.name, class: 'form-control form-sm mb-2' %>
                <%= form.submit 'Submit', class: 'btn btn-sm btn-primary mb-2' %>
              <% else %>
                <%= form.submit available_transaction.name.upcase, class: 'btn btn-sm btn-primary mb-2' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

