<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mb-4">
      <h2><%= @work_station.name.upcase %> | <%= @work_station.status.upcase %></h2>
      <div class="d-flex justify-content-center align-content-center align-text-center gap-2">
        <% if @work_station.online? %>
          <%= button_to 'Offline', work_station_offline_path(@work_station), method: :patch, class: 'btn btn-secondary' %>
          <%= button_to 'Break',work_station_break_path(@work_station), method: :patch, class: 'btn btn-warning' %>
        <% elsif @work_station.break? %>
          <%= button_to 'Online', work_station_online_path(@work_station), method: :patch, class: 'btn btn-primary' %>
          <%= button_to 'Offline', work_station_offline_path(@work_station), method: :patch, class: 'btn btn-secondary' %>
        <% else %>
          <%= button_to 'Online', work_station_online_path(@work_station), method: :patch, class: 'btn btn-primary' %>
          <%= button_to 'Break', work_station_break_path(@work_station), method: :patch, class: 'btn btn-warning' %>
        <% end %>
        <%= link_to 'Edit', edit_work_station_path(@work_station), class: 'btn btn-warning' %>
        <%= button_to 'Delete', work_station_path(@work_station), method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2>Serving Ticket &nbsp;<span class="badge text-bg-secondary"><%= @serving_ticket&.ticket_number || 'None' %></span></h2>
        </div>
      </div>

      <div class="mt-5 pt-5">
        <% if @pending_tickets.empty? %>
          <h1 class="mb-5">No Pending Tickets</h1>
        <% else %>
          <h1 class="mb-5">Upcoming Tickets</h1>
          <div class="row">
            <% @pending_tickets.each do |ticket| %>
              <div class="col-2">
                <h4><%= ticket.ticket_number %></h4>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <% if @work_station.online? %>
      <div class="col-md-4 align-content-center mb-4">
        <% if @serving_ticket.present? %>
          <%= button_to 'Finish Ticket', work_station_finish_path(@work_station), method: :patch, class: 'btn btn-success' %>
        <% else %>
          <%= button_to 'Next', work_station_next_path(@work_station), method: :patch, class: 'btn btn-success' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
