<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="text-center justify-content-center align-content-center">
    <% remove_header = [
      action_name == 'queueing_lists',
      (controller_name == 'tickets' && ['show', 'new', 'display_transactions'].include?(action_name))
    ] %>
    <% unless remove_header.find { |header| header == true } %>
    <%= render 'layouts/shared/header' %>
      <% end %>
    <%= yield %>
  </body>
</html>
